body{
  font-family: 'futura-pt';
}



/* Header Styles */
.header-container{
  background: url(images/bg.png) no-repeat center center fixed;
  background-size: cover;
  height: 900px;
}

.header-position {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-top: 300px;
}

.header-position img {
  height: 280px;

}

.intro {
  background-image: url("../images/headerbg.png" );
  background-size: cover;
  height: 800px;
}

.site-container{
  position:relative;
  margin:0 auto;
  text-align:center;
  clear:left;
  height:auto;
  z-index: 0;
  width:100%;
}

.site-container-1080{
  position:relative;
  margin:0 auto;
  text-align:center;
  clear:center;
  height:auto;
  z-index: 0;
  width:1080px;
}

#header-main {
  /*border-top: 1px solid rgba(239, 239, 239, .35);
  border-bottom: 1px solid rgba(239, 239, 239, .35);*/
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: futura-pt;
  width: 100%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}


h1.brandname{
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 10px;
  width: inherit;
  color:rgba(255, 255, 255, 0.65);
}

h1.contentheaders{
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 10px;
  width: inherit;
  color:rgba(0, 0, 0, 0.65);
}

p{
  font-family: 'futura-pt', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  padding-left: 5px;
  line-height: 18px !important;
  letter-spacing: 4px;
  text-align: center;
  color:rgba(255, 255, 255, 0.65);
}

.no-padding{
  padding-right: 0px !important;
  padding-left: 0px !important;

}

.container {
  width:100%;

}

.work-container{
  background: none;
  height: 900px;
  border: solid 1px green;
  margin-bottom: 100px;
}

.work-position{


}

#work-main{

}

.about-container{
  background-image: url('../images/about_cover.png');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 900px;
  border: solid 1px red;
  margin-bottom: 100px;
}

h3.about-header{
  margin-top: 3px;
  width: 100%;
  font-size: 25px;
  font-family: 'futura-pt', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.header-wrapper{
  background: green;
  border-top: 1px solid rgba(239, 239, 239, .95);
  border-bottom: 1px solid rgba(239, 239, 239, .95);
  height: 50px;
  margin-top: 440px;
}




.about-position{

}

#about-main{
  text-align: center;
}

.resume-main{

}

.resume-container{
  background: none;
  height: 900px;
  border: solid 1px blue;
  margin-bottom: 100px;
}

.resume-position{


}

#resume-main{

}

.navbar-wrapper .navbar {
    opacity: .8;
}

.navbar navbar-inverse navbar-static-top {
  height: 90px;

}

#navbar ul li.active a{
  font-family: 'futura-pt', sans-serif;
  font-style: normal;
  font-weight: 300;

}
/* DESKTOP*/
@media (min-width: 1200px) {
  .container{
    width: 100% !important;
  }
}


/* ipad REGULAR */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  { /* STYLES GO HERE */}


/* iphone 6 REGULAR */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) { /* STYLES GO HERE */}




/* iphone 6 PLUS */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) { /* STYLES GO HERE */}
