$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
    .body {
        font-family: "futura-pt";
        background-color: #dad9c7 !important;
    }
    







/* Responsive: Portrait iphone 6 */
@media screen and (max-width: 667px) {
    body{
        color: #f1c40f;
    }
    
    .text-muted {
    color: #95a5a6;
}
    .navbar-inverse {
        background-color: #f1c40f;
        border: none;
        box-shadow: 0px -1px 10px #1e2a36;
            .navbar-toggle {
                border-color: transparent;
                border-radius: 90%;
                background-color: #34495e;
                padding: 15px 15px 15px 15px; 
                            .icon-bar {
                                display: block;
                                width: 12px;
                                height: 1px;
                                border-radius: 0px;
                                padding: 0px;
                                background-color: #f1c40f;
                            }  
                    .collapsed {
                        background-color: #f1c40f;
                    .collapse {
                        background-color: #f1c40f;
                    }
             }
        }
        
            .navbar-toggle:hover { 
                background-color: #e74c3c;
            }
            .navbar-toggle:focus { 
                    background-color:#34495e;;
            }
                    .navbar-nav li a {
                        font-family: "futura-pt";
                        text-transform:: uppercase;
                        text-align: center;
                        font-weight: 700;
                        letter-spacing: 4px;
                        color: #34495e;
                        background-color: #f1c40f;
                    }
                    .navbar-nav li a:hover {
                        color: #e74c3c;
                    }
                    .navbar-nav li a:focus {
                        color: #e74c3c;
                    }
    }  
    
    .container-center {
        padding-top: 50px;
        margin: auto;
        text-align: center;
        background-color: #34495e;
        padding-left: 0px;
        padding-right: 0px;
            .marketing {
                padding-left: 0px;
                padding-right: 0px;
                .row {
                    margin-top: 75px;
                    margin-bottom: 50px;
                    
                    .hero {
                        padding-top: 20px;
                            
                            .img-logo {
                                width: 90%;
                                margin-bottom: 20px;
                            }
                            h2.brandname {
                                text-transform: uppercase;
                                font-size: 25px;
                                font-family: "futura-pt";
                                letter-spacing: 4px;
                            }
                            
                            hr.featurette-divider {
                                border: 0;
                                border-top: 1px solid #f1c40f;
                                opacity: 0.3;
                            }
                            
                            p {
                                font-family: "futura-pt";
                                margin: 0px;
                                letter-spacing: 4px;
                                font-size: 12px;
                            }
                    }
                }
            }
    }
    
    #gallery-container {
            width: 100%;
            .container {
                .row {
                    h2.brandname {
                        text-transform: uppercase;
                        font-size: 25px;
                        font-family: "futura-pt";
                        letter-spacing: 4px;
                        }
                     hr.featurette-divider {
                        border: 0;
                        border-top: 1px solid #f1c40f;
                        opacity: 0.3;
                    }
                }
            }
        
    }
    
}


