/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}






/* styles begin
-webkit-background-size: 100% 50%;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

_______________________________________*/
@font-face {
    font-family: Montserrat-Hairline;
    src: url(fonts/monsterrat/Montserrat-Hairline.otf);
    font-weight: Hairline;
}

@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/monsterrat/Montserrat-Light.otf);
    font-weight: Hairline;
}



.header-container{
  background: url(images/bg.png) no-repeat center center fixed;
  background-size: cover;
  height: 900px;
}


.site-container{
  position:relative;
  margin:0 auto;
  text-align:left;
  clear:left;
  height:auto;
  z-index: 0;
}



.header-position {padding-top: 600px;}

#header {
  border-top: 1px solid rgba(54, 54, 54, .45);
  border-bottom: 1px solid rgba(54, 54, 54, .45);
  padding-top: 10px;
  padding-bottom: 10px;
  font-color: #363636;
  font-family: Montserrat-Light;
  width: 605px;
  height: 130px;
  margin-left: 300px;
}

h1.brandname{
  font-family: 'Montserrat-Hairline', sans-serif;
  font-weight: 100;
  font-size: 75px;
  margin-top: 25px;
  letter-spacing: 10px;
  margin: auto;
  margin-left: -5px;
  margin-right: none;

}

p{
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 10px;
  padding-left: 5px;
  line-height: 18px !important;
  letter-spacing: 4px;
}


/* Content Sections

_______________________________________*/

#one{
  margin-top: 50px;
  height: 500px;
  font-family: 'Montserrat-Light', sans-serif;
}

#two{
  height: 500px;
  font-family: 'Montserrat-Light', sans-serif;
}

#three{
  height: 500px;
  font-family: 'Montserrat-Light', sans-serif;
}

#four{
  height: 500px;
  font-family: 'Montserrat-Light', sans-serif;
}


/* Sticky Nav Begins


_______________________________________*/

.sticky-nav active {
    color: #fff !important;
    text-decoration: none !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nav-header {

}

.nav-nav {
  padding: 25px 0;
  background-color: rgba(255,255,255,0.95);
  position: -webkit-sticky;
  top: 0px;
  z-index: 1;
}

.nav-header, .nav-nav {
  margin: auto;
  text-align: center;
}

.nav-content {
  width: 100%;
}

.sticky {
  position: fixed;
  width: 1200px;
  top: 0px;
  z-index: 100;
  border-top: 0;
  transition: all .4s ease;
}

.sticky-nav-ul {
  background: #515151;
  border: 1px solid red;
  height: 85px;
  width: 100%;
  margin: 0px auto;
  font-family: 'Montserrat-Light', sans-serif;
}

.sticky-nav-li {
  text-decoration: none !important;
  width: 11%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 25px;

}

.subscribe-now a {
  background: #FF2000;
  border-radius: 10px;
  color: white;
  padding: 12px 31px;
  font-size: 1.2em;
}

.sticky-nav-li, .subscribe-now {
  list-style: none;
}

.sticky-nav-li-img {
  background-color: #2F83DB;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  outline: 0;
}

span.section-title{
  text-decoration: none !important;
}


a:-webkit-any-link {
  vertical-align: middle;
  color: #fff;
  text-decoration: none !important;
  cursor: auto;
}
